<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child is-4"></div>

    <div class="tile is-child is-4">
      <div class="section">
        <article class="tile is-child notification is-primary">
          <h1 class="title">Register</h1>
          <%= render 'form', user: @user%>
        </article>
      </div>
    </div>

    <div class="tile is-child is-4"></div>
  </div>
</div>

