spring:
  datasource:
    username: postgres
    password: mysecretpassword
    url: jdbc:postgresql://${DB_HOSTNAME:localhost:5432}/pangolin-test
    driver-class-name: org.postgresql.Driver
  main:
    allow-bean-definition-overriding: true

pangolin:
  admin:
    username: root
    password: 12345678
    email: admin@admin.hu
  roles:
    admin: ROLE_ADMIN
    user: ROLE_USER
  token:
    expireLength: 600000 #10 min
  multimedia:
    directory:
      path: ./files-test/
