<div class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child is-2"></div>
      <div class="tile is-child is-8">
        <%= render partial: "caff", :locals => {:caff => @caff}%>
      </div>
      <div class="tile is-child is-2"></div>
    </div>
  </div>
</div>