<div class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child is-2"></div>
      <div class="tile is-child is-8">
        <div class="card">
          <div class="card-header">
            <title class="card-header-title">valley.caff</title>
            <div class="level">
              <div class="level-right">
                <div class="level-item" style="margin-right: 20px">
                  <button class="button is-info">
                    <span>Download</span>
                    <span class="icon is-small">
                      <i class="fas fa-download"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="card-image is-flex is-align-content-center">
              <img src=<%= image_url '1.caff.gif' %> alt="" style="margin: auto">
          </div>

          <div class="card-content">
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Futóné Papp Dorottya</strong>
                    <br>
                    Azta! Ez nagyon tetszik! Szép munka, ötös.
<!--                    <br>-->
<!--                    <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>-->
                  </p>
                </div>
              </div>
            </article>
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="field">
                  <p class="control">
                    <textarea class="textarea" placeholder="Add a comment..."></textarea>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button">Post comment</button>
                  </p>
                </div>
              </div>
            </article>
          </div>

        </div>
      </div>
      <div class="tile is-child is-2"></div>
    </div>
  </div>
</div>