<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child is-2">
      <div class="section">
        <article class="panel is-primary">
          <p class="panel-heading">
            Menu
          </p>

          <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
            My Profile
          </a>
          <a class="panel-block is-active">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
            Upload
          </a>
        </article>
      </div>


    </div>
    <div class="tile is-child is-8">
      <div class="section">
        <div class="content">
          <h1 class="title">
            Upload a new CAFF/CIFF file
          </h1>

          <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                Screen Shot 2017-07-29 at 15.54.25.png
              </span>
            </label>
          </div>

        </div>

        <button class="button is-primary">
          Confirm
        </button>

      </div>
    </div>
    <div class="tile is-child is-2"></div>
  </div>
</div>
